<%- include("_header") -%>

<h1>Mais qui est donc Fir3start3r?</h1>

<p>Grand maître du *** worship, il est de nos jours ce que l'on pourrait appeler un esth&egrave;te du worshipping.</p>
<p>Fir3start3r est le worshipping et le worshipping est Fir3start3r.</p>

<p>D'autre source indiquerait que Fir3start3r serait fan de Emo metal et de vid&eacute;o plutôt cringe.
    Cf: <a href="https://www.dailymotion.com/video/x1gk6j" target="_new">ici</a></p>

<p>Il aurait branch&eacute; son MP3 et l'aurait reli&eacute; à sa chaîne hifi qui elle même serait reli&eacute; à son USB. "Camoulox".</p>


<%- include("_footer") -%>